# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore build outputs
dist/
.angular/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/
*.log
